@model FinalProject421.Models.Destination

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Destination</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DestID" />
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Country" class="control-label"></label>
                <input asp-for="Country" class="form-control" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OfficialLanguage" class="control-label"></label>
                <input asp-for="OfficialLanguage" class="form-control" />
                <span asp-validation-for="OfficialLanguage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OfficialSite" class="control-label"></label>
                <input asp-for="OfficialSite" class="form-control" />
                <span asp-validation-for="OfficialSite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocationKey" class="control-label"></label>
                <input asp-for="LocationKey" class="form-control" />
                <span asp-validation-for="LocationKey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageA" class="control-label"></label>
                <input type="file" id="ImageA" name="ImageA" multiple class="form-control" />
                <span asp-validation-for="ImageA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageB" class="control-label"></label>
                <input type="file" id="ImageB" name="ImageB" multiple class="form-control" />
                <span asp-validation-for="ImageB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageC" class="control-label"></label>
                <input type="file" id="ImageC" name="ImageC" multiple class="form-control" />
                <span asp-validation-for="ImageC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageD" class="control-label"></label>
                <input type="file" id="ImageD" name="ImageD" multiple class="form-control" />
                <span asp-validation-for="ImageD" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
