@{
    ViewData["Title"] = "Home Page";
}

<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
                <h1 class="text-uppercase text-white font-weight-bold">Atlas Buddy</h1>
                <hr class="divider my-4" />
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 font-weight-light mb-5">Find quick info about a city of your choice!</p>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown button
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Bilbao</a>
                        <a class="dropdown-item" href="#">Kathmandu</a>
                        <a class="dropdown-item" href="#">Bolzano</a>
                        <a class="dropdown-item" href="#">Sarajevo</a>
                        <a class="dropdown-item" href="#">Barcelona</a>
                        <a class="dropdown-item" href="#">Vancouver</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>