@model _421FinalProject.Models.GenInfo

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>GenInfo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="GenInfoID" />
            <div class="form-group">
                <label asp-for="DestID" class="control-label"></label>
                <select asp-for="DestID" class="form-control" asp-items="ViewBag.DestID"></select>
                <span asp-validation-for="DestID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="subTitle" class="control-label"></label>
                <input asp-for="subTitle" class="form-control" />
                <span asp-validation-for="subTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TextItem1" class="control-label"></label>
                <input asp-for="TextItem1" class="form-control" />
                <span asp-validation-for="TextItem1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TextItem2" class="control-label"></label>
                <input asp-for="TextItem2" class="form-control" />
                <span asp-validation-for="TextItem2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image1" class="control-label"></label>
                <input asp-for="Image1" class="form-control" />
                <span asp-validation-for="Image1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image2" class="control-label"></label>
                <input asp-for="Image2" class="form-control" />
                <span asp-validation-for="Image2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
